<connectionStrings>
  <!--<add name="nightowlsign_Entities" connectionString="metadata=res://*/NightOwlSignModel.csdl|res://*/NightOwlSignModel.ssdl|res://*/NightOwlSignModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=penny;initial catalog=nightowlsign;persist security info=False;user id=goasignsystem;password=Zaq!@wsx;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />     -->

  <clear />
  <!--<add name="nightowlsign_Entities" connectionString="metadata=res://*/NightOwlSignModel.csdl|res://*/NightOwlSignModel.ssdl|res://*/NightOwlSignModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=penny;initial catalog=GoaSignSystem;persist security info=False;user id=;password=;TrustServerCertificate=True;multipleactiveresultsets=False;connect timeout=30;encrypt=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  <add name="nightowlsign_Entities" connectionString="metadata=res://*/NightOwlSignModel.csdl|res://*/NightOwlSignModel.ssdl|res://*/NightOwlSignModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:boxerdb.database.windows.net,1433;initial catalog=nightowlsign;persist security info=False;user id=codeflagz;password=Zaq!@wsx;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>

